@import url('./vars.css');
@import url('./reset.css');
@import url('./buttons.css');

header{
    padding: var(--small);
    background-color: var(--light);
}

body{
    background-color: var(--dark);
}

.flex{
    display: flex;
}

.flex-even{
    justify-content: space-between;
}

.square-small{
    width: var(--small);
    height: var(--small);
}

.square-medium{
    width: calc(4*var(--small));
    height: calc(4*var(--small));
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    place-items: center;
    gap: var(--small);    
}

.video-section > a > video{
    max-width: calc(16*var(--small));
    max-height: calc(7*var(--small));
    margin: calc(1.5*var(--small));
}

.soft-border-small{
    border-radius: var(--small);
}

.search{
    background-color: rgb(200,200,225, 0.5);
    border: var(--dark);
    height: 50%;
    margin: var(--small);
    min-width: 500px;
    outline: transparent;
    
}

.flex-center{
    align-items: center;
}
