@import url('./vars.css');
@import url('./reset.css');
@import url('./buttons.css');

header{
    padding: var(--small);
}

.flex{
    display: flex;
}

.flex-even{
    justify-content: space-between;
}

.square-small{
    width: var(--small);
    height: var(--small);
}

.square-medium{
    width: calc(2*var(--small));
    height: calc(2*var(--small));
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    place-items: center;    
}

.video-section > video{
    max-width: calc(16*var(--small));
}