@import url('./vars.css');
@import url('./reset.css');
@import url('./buttons.css');
@import url('./spiner.css');

section{
    margin: calc(4*var(--small));
}

.iconify {
    font-size: var(--large);
    color: #ffff;

}

video{
    max-height: 60vh;
    width: 95vw;
}

.hidden{
    display: none;
}

header{
    padding: var(--small);
    background-color: var(--light);
}

body{
    background-color: var(--dark);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-even{
    justify-content: space-between;
}

.square-small{
    width: var(--small);
    height: var(--small);
}

.square-medium{
    width: calc(4*var(--small));
    height: calc(4*var(--small));
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    place-items: center;
    gap: var(--small);    
}

.video-section > a > video{
    max-width: calc(16*var(--small));
    max-height: calc(7*var(--small));
    margin: calc(1.5*var(--small));
}

.soft-border-small{
    border-radius: var(--small);
}

.search{
    background-color: rgb(200,200,225, 0.5);
    border: solid var(--dark) 2px;
    height: 50%;
    margin: var(--small);
    min-width: 500px;
    outline: transparent;
    
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.video-container{
    min-height: 50vh;
    border: solid 3px var(--dark);
    margin-bottom: calc(4*var(--small));
    
    
}

